<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">DG Referrals</h1>
  <button class="d-none d-sm-inline-block btn btn-md btn-primary btn- shadow-sm text-white"
          data-toggle="modal" data-target=".addReferralModal">
    <i class="fas fa-plus fa-sm text-white-50"></i>
    Add New
  </button>
</div>

<!-- Extra large modal for adding New Meeting-->
<div class="modal fade addReferralModal" tabindex="-1" role="dialog" aria-labelledby="addReferralForm"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">Add Referral</div>
      <div class="modal-body">
        <app-dg-referrals-form></app-dg-referrals-form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header bg-white d-sm-flex align-items-center justify-content-between">
            There are a total of {{ referralRecord.length }} Referrals
            <div *ngIf="loading">
              <strong>Loading... </strong>
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div *ngIf="loadingError">
              <button class="btn btn-outline-primary btn-sm" (click)="onMemoReloadPageClicked()">Reload</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <app-dg-referrals-list></app-dg-referrals-list>
      </div>
    </div>

  </div>
</div>
