<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Overdue Tasks</h6>
    <div class="dropdown no-arrow">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
        <div class="dropdown-header">Dropdown Header:</div>
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <table class="table table-bordered table-sm">
      <thead>
      <tr>
        <th>Task</th>
        <th>Subject</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Days</th>
      </tr>
      </thead>
      <tbody class="">
      <tr *ngFor="let task of overdueTasks">
        <td>{{ task.task }}</td>
        <td>{{ task.subject }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.dueDate }}</td>
        <td>{{ task.days }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

