<div class="row">
  <div class="col-12 ml-0 pl-0">
    <div class="card card-body p-0">
      <form [formGroup]="attendeeForm" (ngSubmit)="onSaveAttendanceClicked()">
        <table class="table table-bordered table-sm">
          <thead>
          <tr class="text-sm-center">
            <th>Exco Member</th>
            <th>Designation</th>
            <th>Programme</th>
            <th>status</th>
            <th>Comments</th>
          </tr>
          </thead>
          <tbody> <!-- formArrayName="attendee" -->
          <tr *ngFor="let member of members; let i = index">
            <td>{{ member.fullname}}</td>
            <td>{{ member.title }}</td>
            <td>Prg 1A</td>
            <td>
              <div>
                <div class="form-group mb-0">
                  <select class="form-control form-control-sm"
                          [name]="i">
                    <option></option>
                    <option *ngFor="let status of attendeeStatusList" required>{{ status }}</option>
                  </select>
                </div>
              </div>
            </td>
            <td>
              <div>
                <div class="form-group mb-0">
                  <input type="text" class="form-control form-control-sm"
                         [name]="i">
                </div>
              </div>
            </td>
          </tr>

          </tbody>
          <button class="btn btn-primary text-white" [disabled]="!attendeeForm.valid" type="submit"> Save</button>
        </table>
      </form>
    </div>
  </div>
</div>
