<div class="row">
  <div class="col-lg-6 mb-2 pr-0">
    <div class="card bg-primary text-white shadow">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-md text-white mb-1">Notification</div>
            <div class="h5 mb-0 font-weight-bold text-white-50">6</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-bell fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
      <div class="card-footer py-2 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-normal text-primary">View Details</h6>
      </div>
    </div>
  </div>
  <div class="col-lg-6 mb-2 pr-0">
    <div class="card bg-warning text-white shadow">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-md text-white mb-1">Inbox</div>
            <div class="h5 mb-0 font-weight-bold text-white-50">6</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-inbox fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
      <div class="card-footer py-2 d-flex flex-row align-items-center  justify-content-between">
        <!--<button class="btn btn-sm btn-outline-warning flex-fill">View Details</button>-->
        <h6 class="m-0 font-weight-normal text-primary">View Details</h6>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 mb-2 pr-0">
    <div class="card bg-info text-white shadow">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-md text-white mb-1">DG Submissions</div>
            <div class="h5 mb-0 font-weight-bold text-white-50">9</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-folder-open fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
      <div class="card-footer py-2 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-normal text-primary">View Details</h6>
      </div>
    </div>
  </div>
  <div class="col-lg-6 mb-2 pr-0">
    <div class="card bg-danger text-white shadow">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-md text-white mb-1">Reminders</div>
            <div class="h5 mb-0 font-weight-bold text-white-50">6</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-bell fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
      <div class="card-footer py-2 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-normal text-primary">View Details</h6>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 mb-2 pr-0">
    <div class="card bg-success text-white shadow">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-md text-white mb-1">Escalation</div>
            <div class="h5 mb-0 font-weight-bold text-white-50">6</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-satellite-dish fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
      <div class="card-footer py-2 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-normal text-primary">View Details</h6>
      </div>
    </div>
  </div>
  <div class="col-lg-6 mb-2 pr-0">
    <div class="card bg-info text-white shadow">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-md text-white mb-1">DST Cabinet Memo</div>
            <div class="h5 mb-0 font-weight-bold text-white-50">6</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-pencil-ruler fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
      <div class="card-footer py-2 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-normal text-primary">View Details</h6>
      </div>
    </div>
  </div>
</div>
