<div class="row">
  <div class="col-lg-12 col-md-12">

    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary m-0 p-0" *ngIf="actionUpdateStatus">Saved to database</h6>
        <h6 class="m-0 font-weight-bold text-primary m-0 p-0" *ngIf="!actionUpdateStatus">Record Not Saved</h6>

        <button class="d-none d-sm-inline-block btn btn-sm btn-primary btn-shadow-sm text-white m-0"
                data-toggle="modal" data-target=".bd-sub-record-modal-lg">
          <i class="fas fa-plus fa-sm text-white-50"></i>
          Add New
        </button>

      </div>
      <!-- Extra large modal for adding submission-->
      <div class="modal fade bd-sub-record-modal-lg" tabindex="-1" role="dialog" aria-labelledby="submissionRecordForm"
           aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header" *ngIf="!actionUpdateStatus">failed to update</div>
            <div class="modal-header" *ngIf="actionUpdateStatus">Add new submission item</div>

            <div class="modal-body">
              <app-submission-record-form></app-submission-record-form>
            </div>
          </div>
        </div>
      </div>
      <!-- End Of Extra large modal for adding submission-->

      <div class="card-body pr-1 pl-1 pt-0">
        <table class="table table-bordered table-sm">
          <thead>
          <tr class="text-sm-center">
            <th>Ref No.</th>
            <th>Subject</th>
            <th>Incoming Date</th>
            <th>Submitted By</th>
            <th>Date to DG</th>
            <th>Date from DG</th>
            <th>status</th>
          </tr>
          </thead>
          <tbody class="" *ngFor="let submission of submissionsByMemo; let i = index">
          <tr class="text-xs o-hidden m-0 p-0"
              data-toggle="collapse"
              [attr.data-target]="'#submissionItem' + i"
              aria-expanded="false"
              [attr.aria-controls]="'submissionItem' + i">

            <td>{{ submission.submissionRef }}</td>
            <td>{{ submission.submissionMode }}</td>
            <td>{{ submission.incomingDate }}</td>
            <td>{{ submission.submittedBy }}</td>
            <td>{{ submission.sentToDGDate }}</td>
            <td>{{ submission.fromDGDate }}</td>
            <td>{{ submission.status }}</td>
          </tr>
          <tr class="text-xs">
            <td colspan="7">
              <div class="collapse" [attr.id]="'submissionItem' + i">
                <div class="card card-body">
                  <div class="row">
                    <div class="col-lg-9 col-md-9">
                      <div class="media">
                        <p class="align-self-start mr-3">Description : </p>
                        <div class="media-body">
                          <p>{{ submission.submissionType }}</p>
                        </div>
                      </div>

                      <div class="media">
                        <p class="align-self-start mr-3">Comments : </p>
                        <div class="media-body">
                          <p>{{ submission.comments }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <button class="btn btn-outline-primary btn-block"
                              type="button"
                              [routerLink]="['/submission-records','pbdgm', submission.submissionRef]">More
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

