<form [formGroup]="editNonActionItemForm" (ngSubmit)="onSubmitActionItem()">
  <div class="row">
    <div class="col-lg-3 col-md-3">
      <div class="form-group">
        <label for="reference">Ref No.</label>
        <input type="text"
               class="form-control"
               id="reference"
               name="reference"
                 formControlName="reference">
      </div>
    </div>
    <div class="col-lg-9 col-md-9">
      <div class="form-group">
        <label for="nonActionItem">Item.</label>
        <input type="text"
               class="form-control"
               id="nonActionItem"
               name="nonActionItem"
               formControlName="nonActionItem">
        <span *ngIf="!editNonActionItemForm.get('nonActionItem').valid && editNonActionItemForm.get('nonActionItem').touched"
              class="invalid-feedback">
          This field is required.
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="form-group">
        <label for="nonActionDescription">Description</label>
        <textarea class="form-control"
                  id="nonActionDescription"
                  rows="3"
                  name="nonActionDescription"
                  formControlName="nonActionDescription"></textarea>
        <span
          *ngIf="!editNonActionItemForm.get('nonActionDescription').valid && editNonActionItemForm.get('nonActionDescription').touched"
          class="invalid-feedback">
          This field is required.
        </span>
      </div>
    </div>
  </div>

  <button class="btn btn-primary text-white" [disabled]="!editNonActionItemForm.valid" type="submit"> Save</button>
  <button class="btn btn-dark text-white ml-3" data-dismiss="modal"> Cancel</button>

</form>
