<div class="card m-0 p-0">
  <div class="card-header bg-white  mb-2 pb-2">Exco Member</div>
  <div class="card-body  mb-1 pb-1">
    <div *ngFor="let member of members">
      <div class="row border-bottom mb-1 mt-3 p-0">
        <div class="col-lg-4 col-md-4 mb-2">
          <img class="img-profile rounded-circle img-thumbnail" src="{{ member.imageString }}">
        </div>
        <div class="col-lg-8 col-md-8 text-sm">
          {{ member.fullname}} - {{ member.title }}
        </div>
        <hr class="">
      </div>
    </div>
  </div>
</div>
