<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center bg-white" routerLink="/">
    <div class="sidebar-brand-icon">
      <!--<i src="dep" class="fas fa-laugh-wink"></i>-->
      <img src="../../assets/dst_logo.png" class="img-thumbnail w-75"/>
    </div>
    <!--<div class="sidebar-brand-text mx-3">DST</div>-->
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <!--<a class="nav-link" routerLink="/dashboard">-->
    <!--<i class="fas fa-fw fa-tachometer-alt"></i>-->
    <!--<span>Dashboard</span></a>-->
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading text-white">
    Main Items
  </div>
  <!-- Nav Item Home-->
  <li class="nav-item pb-0 mb-0">
    <a class="nav-link" routerLink="/">
      <i class="fas fa-fw fa-home"></i>
      <span>Home</span></a>
  </li>

  <!-- Nav Item Calender-->
  <li class="nav-item">
    <a class="nav-link" routerLink="/calender">
      <i class="fas fa-fw fa-calendar"></i>
      <span>Calender</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading text-white">
    My Modules
  </div>

  <!-- Nav Item - Exco Meetings -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/exco">
      <i class="fas fa-fw fa-folder"></i>
      <span>Exco Meetings</span>
    </a>
  </li>

  <!-- Nav Item - DG Memos -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/dg-memo">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>DG Memos</span></a>
  </li>

  <!-- Nav Item - Cabinet Meetings -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/cabinet-memo">
      <i class="fas fa-fw fa-table"></i>
      <span>Cabinet Memo</span></a>
  </li>

  <!-- Nav Item - Submission Records -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/submission-records">
      <i class="fas fa-fw fa-table"></i>
      <span>Submission Records</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link">
      <i class="fas fa-fw fa-table"></i>
      <span>DG Referrals</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReports" aria-expanded="true"
       aria-controls="collapseReports">
      <i class="fas fa-fw fa-paragraph"></i>
      <span>Reports</span>
    </a>
    <div id="collapseReports" class="collapse" aria-labelledby="headingReports" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <!--<h6 class="collapse-header">Custom Utilities:</h6>-->
        <a class="collapse-item">Exco Reports</a>
        <a class="collapse-item">DG Memo Reports</a>
        <a class="collapse-item">Cabinet Reports</a>
        <a class="collapse-item">Submission Records Reports</a>
        <a class="collapse-item">DG Referrals Reports</a>
      </div>
    </div>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
