<div class="card border-left-primary shadow mh-100 p-1" *ngFor="let meeting of upcoming">
  <!--<div class="card-header card-head">header</div>-->
  <div class="card-body m-1 p-1">
    <div class="row no-gutters align-items-center">
      <div class="col-md-4 m-0 p-0">
        <p class="text-xs font-weight-bold text-primary text-uppercase mb-1">UpComing</p>
        <p>June</p>
        <p>23</p>
        <div class="col-auto">
          <i class="fa fa-calender fa-2x text-black-300"></i>
        </div>
      </div>
      <div class="col-md-8 m-0 p-0">
        <p class="text-md-center font-weight-bold text-primary text-uppercase mb-1">{{ meeting.taskName}}</p>
        <p class="">{{ meeting.taskTime }}</p>
        <p class="">{{ meeting.taskLocation}}</p>
        <button class="btn btn-outline-primary" [routerLink]="['/notification', meeting.id]">Full Meeting Details</button>
      </div>
    </div>
  </div>
</div>
