<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-8 col-lg-10 col-md-7">

      <div class="card border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row justify-content-center ">
            <!--<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>-->
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Please login!</h1>
                </div>
                <form class="user" [formGroup]="loginForm" (ngSubmit)="onLoginClicked()">
                  <div class="alert alert-danger" *ngIf="loginError">
                    <p class="text-white text-sm-center">Something went wrong. please check username and password</p>
                  </div>
                  <div class="form-group align-center">
                    <input type="email" class="form-control form-control-user" formControlName="userEmail"
                           id="userEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                    <span class="text-xs text-danger "
                          *ngIf="!loginForm.get('userEmail').valid && loginForm.get('userEmail').touched">Please enter correct email.</span>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" formControlName="userPassword"
                           id="userPassword" placeholder="Password">
                    <span class="text-xs text-danger"
                          *ngIf="!loginForm.get('userPassword').valid && loginForm.get('userPassword').touched">Password is required.</span>

                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <label class="custom-control-label" for="customCheck">Remember Me</label>
                    </div>
                  </div>
                  <button class="btn btn-primary btn-user btn-block text-white" type="submit">
                    Login
                  </button>
                  <hr>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="forgot-password.html">Forgot Password?</a>
                </div>
                <div class="text-center">
                  <a class="small" href="register.html">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
