<form [formGroup]="excoMeetingForm" (ngSubmit)="onSubmitMeeting()">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="form-group">
        <label for="meetingName">Meeting Name</label>
        <input type="text"
               class="form-control"
               id="meetingName"
               name="meetingName"
               formControlName="meetingName">
        <span *ngIf="!excoMeetingForm.get('meetingName').valid && excoMeetingForm.get('meetingName').touched"
              class="invalid-feedback">
          This field is required.
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="form-group">
        <label for="meetingVenue">Meeting Venue.</label>
        <input type="text"
               class="form-control"
               id="meetingVenue"
               name="meetingVenue"
               formControlName="meetingVenue">
        <span *ngIf="!excoMeetingForm.get('meetingVenue').valid && excoMeetingForm.get('meetingVenue').touched"
              class="invalid-feedback">
          This field is required.
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="meetingStartDate">Meeting Start Date.</label>
        <input type="date"
               class="form-control"
               id="meetingStartDate"
               name="meetingStartDate"
               formControlName="meetingStartDate"
               placeholder="yyyy/mm/dd">
        <span *ngIf="!excoMeetingForm.get('meetingStartDate').valid && excoMeetingForm.get('meetingStartDate').touched"
              class="invalid-feedback">
          This field is required.
        </span>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="meetingEndDate">Meeting End Date.</label>
        <input type="date"
               class="form-control"
               id="meetingEndDate"
               name="meetingEndDate"
               formControlName="meetingEndDate"
               placeholder="yyyy/mm/dd">
        <span *ngIf="!excoMeetingForm.get('meetingEndDate').valid && excoMeetingForm.get('meetingEndDate').touched"
              class="invalid-feedback">
          This field is required.
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="meetingStartTime">Meeting Start Date.</label>
        <input type="time"
               class="form-control"
               id="meetingStartTime"
               name="meetingStartTime"
               formControlName="meetingStartTime"
               placeholder="hh:mm">
        <span *ngIf="!excoMeetingForm.get('meetingStartTime').valid && excoMeetingForm.get('meetingStartTime').touched"
              class="invalid-feedback">
          This field is required.
        </span>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="meetingEndTime">Meeting End Date.</label>
        <input type="time"
               class="form-control"
               id="meetingEndTime"
               name="meetingEndTime"
               formControlName="meetingEndTime"
               placeholder="hh:mm">
        <span *ngIf="!excoMeetingForm.get('meetingEndTime').valid && excoMeetingForm.get('meetingEndTime').touched"
              class="invalid-feedback">
          This field is required.
        </span>
      </div>
    </div>
  </div>

  <button class="btn btn-primary text-white" [disabled]="!excoMeetingForm.valid" type="submit"> Save</button>
  <button class="btn btn-dark text-white ml-3" data-dismiss="modal"> Cancel</button>
</form>

