<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">DG Memo Details</h1>
  <!--<a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm text-white" (click)="onReportClicked()"><i-->
  <!--class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
</div>

<div class="row">
  <div class="col-lg-9 col-md-9">

    <div class="card pr-1 pl-1">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6>{{ memoRecord.subject }}</h6>

        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="true">Actions
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
               aria-labelledby="dropdownMenuLink" x-placement="top-end"
               style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-156px, -155px, 0px);">
            <a class="dropdown-item " data-toggle="modal" data-target=".bd-editMemo-modal-lg">Edit</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" data-toggle="modal" data-target=".bd-addRecipient-modal-lg">Add Recipients</a>
          </div>
        </div>
      </div>

      <!-- Extra large modal for editing Action Item-->
      <div class="modal fade bd-editMemo-modal-lg" tabindex="-1" role="dialog" aria-labelledby="editSubmissionForm"
           aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">Edit Record</div>
            <div class="modal-body">
              <app-edit-memo-form></app-edit-memo-form>
            </div>
          </div>
        </div>
      </div>

      <!-- Extra large modal for adding Recipients Action Item-->
      <div class="modal fade bd-addRecipient-modal-lg" tabindex="-1" role="dialog" aria-labelledby="addRecipientForm"
           aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">Add Recipients</div>
            <div class="modal-body">
              <app-add-recipient-form></app-add-recipient-form>
            </div>
          </div>
        </div>
      </div>


      <div class="card-body">
        <div class="row">
          <div class="col-lg-3 col-md-3 font-weight-bold">
            Category
            <hr>
          </div>
          <div class="col-lg-9 col-md-9">{{ memoRecord.category }}</div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 font-weight-bold">
            DG Memo Reference
            <hr>
          </div>
          <div class="col-lg-9 col-md-9">{{ memoRecord.dgMemoNumber }}</div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-3 font-weight-bold">
            AS Memo Number
            <hr>
          </div>
          <div class="col-lg-9 col-md-9">{{ memoRecord.asMemoNumber }}</div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-3 font-weight-bold">
            Classification
            <hr>
          </div>
          <div class="col-lg-9 col-md-9">{{ memoRecord.classification }}</div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-3 font-weight-bold">
            Subject
            <hr>
          </div>
          <div class="col-lg-9 col-md-9">{{ memoRecord.subject }}</div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-3 font-weight-bold">
            Description
            <hr>
          </div>
          <div class="col-lg-9 col-md-9">{{ memoRecord.description }}</div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-3 font-weight-bold">
            Assigned To.
            <hr>
          </div>
          <div class="col-lg-9 col-md-9">{{ memoRecord.assignedTo }}</div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-3 font-weight-bold">
            Return Date.
            <hr>
          </div>
          <div class="col-lg-9 col-md-9">{{ memoRecord.returnDate }}</div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-3 font-weight-bold">
            status
            <hr>
          </div>
          <div class="col-lg-9 col-md-9">{{ memoRecord.status }}</div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-3 font-weight-bold">
            Comments
            <hr>
          </div>
          <div class="col-lg-9 col-md-9">{{ memoRecord.comment }}</div>
        </div>
      </div>
      <div class="card-footer modal-footer m-0">
        <button class="btn btn-outline-primary" type="button">Submit</button>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3">

    <div class="list-group" id="list-tab" role="tablist">
      <!--<a class="list-group-item list-group-item-action" id="list-meeting-list" data-toggle="list"-->
      <!--href=""-->
      <!--role="tab" aria-controls="home">Generate DG Memo</a>-->
      <!--<a class="list-group-item list-group-item-action " id="list-attendee-list" data-toggle="list" href=""-->
      <!--role="tab" aria-controls="profile">Upload Document</a>-->
      <button class="btn btn-outline-info list-group-item list-group-item-action" data-toggle="modal"
              data-target=".bd-generateDGMemo-modal">Generate DG Memo
      </button>
      <button class="btn btn-outline-info list-group-item list-group-item-action" data-toggle="modal"
              data-target=".bd-uploadFile-modal-lg">Upload Document
      </button>
    </div>

    <!-- Small modal for uploading a file -->
    <div class="modal fade bd-uploadFile-modal-lg" tabindex="-1" role="dialog" aria-labelledby="uploadForm"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">Upload Document</div>
          <form>
            <div class="modal-body">
              <div class="form-group">
                <label for="fileName">Name</label>
                <input class="form-control"
                       type="text"
                       name="fileName"
                       id="fileName">
              </div>

              <div class="form-group">
                <label for="file">Document Upload</label>
                <input type="file"
                       id="file"
                       class="form-control"
                       (change)="handleFileInput($event.target.files)">
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-outline-primary" type="submit" data-dismiss="modal">Submit</button>
              <button class="btn btn-outline-secondary ml-3" type="submit" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Small modal for uploading a file -->
    <div class="modal fade bd-generateDGMemo-modal" tabindex="-1" role="dialog" aria-labelledby="generateDGMemo"
         aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">Generate DG Memo</div>
          <div class="modal-body">
            <editor apiKey="7vv6nyeeh35obk4gt8uww8w7zh6cjwuvlg05xkf8f4ipwwv0" [init]="{plugins: 'link'}"></editor>
          </div>
          <div class="modal-footer">
            <button class="btn btn-outline-primary" data-dismiss="modal" type="submit">Save</button>
            <button class="btn btn-outline-secondary ml-3" data-dismiss="modal" type="submit">Cancel</button>
          </div>
        </div>
      </div>
    </div>


    <br>
    <div class="card border-left-primary">
      <div class="card-header text-primary font-weight-bold">Attached Documents</div>
      <div class="card-body">
        list attached documents
      </div>
    </div>
    <br>
    <div class="card border-left-info">
      <div class="card-header text-primary font-weight-bold">Other Receivers</div>
      <div class="card-body">
        <ul *ngFor="let recipient of recipients,">
          <li>{{ recipient.name }}</li>
        </ul>
        list of users added
      </div>
    </div>
  </div>
</div>
